.free-shipping-message {
    /* background-color: green; */
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
}
